{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_ordering/num_parts_correct

    Renders parts of correct answers.

    Context variables required for this template:
    * yougotnright - Num of correct answers.
    * yougotnpartial - Num of partially correct answers.
    * yougotnincorrect - Num of incorrect answers.

    Example context (json):
    {
        "yougotnright": "You have 1 item correct.",
        "yougotnpartial": "You have 2 items partially correct.",
        "yougotnincorrect": "You have 3 items incorrect.",
    }
}}

{{#yougotnright}}<div>{{yougotnright}}</div>{{/yougotnright}}
{{#yougotnpartial}}<div>{{yougotnpartial}}</div>{{/yougotnpartial}}
{{#yougotnincorrect}}<div>{{yougotnincorrect}}</div>{{/yougotnincorrect}}
